@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

* {
    font-family: "montserrat";
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}

.profile-card {
    max-width: 380px;
    width: 100%;
    box-shadow: ;
    background-color: rgb(235, 238, 238);
    border-radius: 15px;
    box-shadow: 1px 1px 15px;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 3px lightcyan;
    
}

.contact {
margin: 5px;
position: relative;
float: top;
font-size: 10px;
}

.title {
font-weight: bold;
}

.text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.01;

}

.text-data .name {
font-weight: bold;
font-size: 1.25em;
}

.media-buttons {
text-decoration: none;
display: flex;
justify-content: center;
font-size: 1.5em;
}

